<div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6 class="font-weight-bold pl-0 my-4 ml-10">Listes des Produits et Models Ajouter</h6>
                <div class="card md-3">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Image</th>
                          <th scope="col">Nom du produit</th>
                          <th scope="col">Categorie</th>
                          <th scope="col">Type</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of list">
                          <th scope="row">#{{item.product_id}}</th>
                          <td><img [src]="item.product_urls[0]" width="100"></td>
                          <td>{{item.product_name}}</td>
                          <td>{{item.category_label}}</td>
                          <td>{{item.productype_label}}</td>
                         
                          <td hidden>
                              <a role="button" hidden>
                              <i class="fal fa-trash-alt fa-2x" style="color: red;"></i>
                            </a>
                        </td>
                          <td>
                              <a role="button" (click)="update()">
                                <i class="fal fa-pen fa-2x" style="color: blue;"></i>
                              </a>
                          </td>
                          <td>
                            <a role="button" class="btn btn-md btn-sm btn-info" (click)="letedit(item)">
                              Je modelise
                            </a>
                        </td>
                          
                        </tr>
                      </tbody>
                    </table>
                   
                </div>
            </div>
        </div>
        
        
</div>