h5
{
font-family: 'Times New Roman', Times, serif;
font-size: large;
}


.steps-form {
  display: table;
  width: 100%;
  position: relative;
}
.steps-form .steps-row {
  display: table-row; 
}
.steps-form .steps-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc; 
}
.steps-form .steps-row .steps-step {
  display: table-cell;
  width: 50%;
  text-align: center;
  position: relative;
}
.steps-form .steps-row .steps-step p {
  margin-top: 0.5rem;
}
.steps-form .steps-row .steps-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.steps-form .steps-row .steps-step .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-top: 0;
}
.form-check{
   margin: 12px;
}
.nextBtn, .prevBtn{
   background: #324161;
   color: white;
}
.form-control:focus{
   border-top: none;
   border-left: none;
   border-right: none;
   box-shadow: none;
   border-bottom: solid 2px #324161;

}
#step1,#step2,#step3{
   background: green;
   color: white;
}
.form-control{
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;

}
.btn-succes{
  background: #324161;
  color: white;
}

// old

.selectdiv {

    position: relative;
    /*Don't really need this just for demo styling*/
    
    float: left;
    min-width: 180px;
    margin: 2.5em 3.3em;
  }
  fieldset{
      border: #0ebeff 1px solid;
      margin: 5em;
  }


  .selectdiv:after {
      content: '\f078';
      font: normal normal normal 17px/1 FontAwesome;
      color: #0ebeff;
      right: 11px;
      top: 6px;
      height: 34px;
      padding: 15px 0px 0px 8px;
      border-left: 1px solid #0ebeff;
      position: absolute;
      pointer-events: none;
  }
  
  /* IE11 hide native button (thanks Matt!) */
  select::-ms-expand {
  display: none;
  }
  
  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #0ebeff;
    -ms-word-break: normal;
    word-break: normal;
  }