<div class="container">
  <div class="card" id="card">
    <div class="card-body mb-4 h-auto">
     
      <form role="form">
        <!-- First Step -->
        <h5 class="font-weight-bold pl-0 my-4"><strong>J'ajoute mes thèmes</strong></h5>

          <div class="col-md-6">
            <div class="form-group md-form mt-3" >
              <label for="them" data-error="wrong" data-success="right"><b>Thèmes</b></label>
              <input id="them" name="them" type="text" required="required" class="form-control validate" placeholder="thème"  [(ngModel)]="theme">
            </div>
         </div>
        <div class="col-md-6" style="padding-top: 0%;">
          <button class="btn btn-indigo btn-rounded nextBtn float-right" type="button" (click)="register()" >Enregistrer</button>

        </div> 

      </form>
     <br><br><br>

      <hr style="border: dashed 3px black;">

      <h5 class="font-weight-bold pl-0 my-4"><strong>J'ajoute mes motifs de design</strong></h5>
      <div class="steps-form">
    
        <div class="steps-row setup-panel">
          <div class="steps-step">
            <a href="#step-9" id="step1"  class="btn btn-indigo btn-circle">1</a>
            <p>Informations du motif</p>
          </div>
          
        </div>
      </div>
  
        <!-- First Step -->
        <div class="row setup-content" id="step-9" *ngIf="step1"> 

          <div class="col-md-6">
            <div class="form-group md-form mt-3">
              <label for="type_of_product" data-error="wrong" data-success="right"><b>Theme</b></label>
              <select id="type_ofproduct" required="required" class="form-control validate" (change)="Gettype_theme($event)"name="type">
                <option value="choice">Choix</option>
                <option *ngFor="let item of Listheme_type" [value]="item.editor_design_id + token + item.editor_design_them"> {{item.editor_design_them}} </option>
              </select>
            </div>
         </div>


          <div class="col-md-6">
            <div class="form-group md-form mt-3" >
              <label for="nam_ofp" data-error="wrong" data-success="right"  ><b>Nom</b></label>
              <input id="nam_ofp" name="name_of_product" type="text" required="required" class="form-control validate" placeholder="Choisissez le Nom de l'Element" disabled id="el_name" [(ngModel)]="name">
            </div>
         </div>

         <div class="col-md-6">
          <div class="form-group md-form mt-3">
            <label for="type_of_element" data-error="wrong" data-success="right"><b>shape type</b></label>
            <select id="type_ofelement" required="required" class="form-control validate" name="type" (change)="OntypeSelect($event)" >
              <option [value]="choice">Choisissez un type de motif</option>
              <option *ngFor="let item of typeEl" [value]="item">{{item}}</option>
            </select>
          </div>
       </div>

       <div class="col-md-6" *ngIf="has_back">
        <div class="form-group md-form mt-3">
          <label for="type_of_element" data-error="wrong" data-success="right"><b>product type (for background)</b></label>
          <select id="type_ofelement" required="required" class="form-control validate" name="type" (change)="gt_prod_type($event)" >
            <option [value]="choice">Choisissez un type de produit</option>
            <option *ngFor="let item of prod_type" [value]="item.productype_id + token + item.productype_label">{{item.productype_label}}</option>
          </select>
        </div>
     </div>
         
          
        </div>

  
        <!-- Second Step -->
        <br><br>
        <div class="row setup-content" id="step-10">
          <div class="col-md-6">
            <form enctype="multipart/form-data"  >
              <div class="md-form">
                <label for="form1">Les images</label>
              <input mdbInput type="file" id="form1" class="form-control" name="file" (change)="uploads($event)" multiple>
            </div>
            </form>
        
            <img *ngFor="let item of url" [src]="url" width="100">
  
            <br>
            <button *ngIf="can_reg" class="btn btn-indigo btn-rounded nextBtn float-right" type="button" (click)="saveShape()" >Enregistrer</button>
          </div>
                      
        </div>  
  
  
    </div>
</div>

</div>
<br><br>


