<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading" ><a href="/designer">Dashboards</a></li>
           
            <li class="app-sidebar__heading">Menu</li>
            <li>
                <a href="#">
                    <i class="metismenu-icon pe-7s-diamond"></i>
                Gestionnaires 
                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>
                <ul>
                    <li>
                        <a href="#">
                            <i class="metismenu-icon pe-7s-diamond"></i>
                       Gérer produits
                            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                        </a>
                        <ul>
                            <li>
                                <a role=" button" (click)="clothes()">
                                    <i class="metismenu-icon">
                                    </i>J'ajoute
                                </a>
                            </li>
                         
                        </ul>
                    </li>
                    <li>
                        <a role=" button" (click)="productlist()">
                            <i class="metismenu-icon">
                            </i>Liste de produits
                        </a>
                    </li>
                    <li >
                        <a role="button" (click)="Design()" >
                            <i class="metismenu-icon">
                            </i>Gérer éditeur
                        </a>
                    </li>
                   
                </ul>
            </li>
            <li>
                <a role=" button" (click)="profiles()">
                    <i class="metismenu-icon pe-7s-display2"></i>
                    Profile
                </a>
            </li>
            
            <li>
                <a role="button" (click)=" logout()">
                    <i class="metismenu-icon pe-7s-power">
                    </i>Deconnexion
                </a>
            </li>
        </ul>
    </div>
</div>