<div class="container">
    <!--update product type-->
    <br><br>
<div class="row">
    <div class="input-group">
        <div class="form-outline mr-120">
          <input type="search" id="form1" class="form-control" />
          <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
</div>
    <div class="row roue">
        <div class="col-md-12 ">
            <h6>Type de produit</h6>
            <div class="card md-3">
                <table class="table table-striped table-responsive">
                   <thead>
                       <tr>
                           <th scope="col-6">#ID</th>
                           <th scope="col-6">Designation</th>
                           <th scope="col-6">Categorie</th>
                           <th scope="col-6">Pourcentage de reduction du prix</th>
                           <th scope="col-6">Action</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <th scope="row">#</th>
                           <td><input type="text"> </td>
                           <td><input type="text"></td>
                           <td><input type="number"></td>
                          
                           <td>

                               <a role="button" class="btn btn-warning" style="color: white;">Mettre à jour</a>
                           </td>
                         
                           
                       </tr>
                     
                   
                   </tbody>
                </table>
            </div>


            <i class="fa fa-scissors" aria-hidden="true"></i>
            <hr style="border:dashed 2px rgb(228, 167, 167)"> 
           <h6>Type d'impression</h6> 
           <div class="card md-3">
            <table class="table table-striped table-responsive">
               <thead>
                   <tr>
                       <th scope="col-6">#</th>
                       <th scope="col-6">Designation</th>
                       <th scope="col-6">Type de produit</th>
                       <th scope="col-6">Cout de d'impression</th>
                       <th scope="col-6">Cout de la couleur</th>
                       <th scope="col-6">% de reduction du prix</th>
                       <th scope="col-6">Action</th>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <th scope="row">#1</th>
                       <td><input type="text" placeholder="carte"></td>
                       <td><input type="text" name="type_prod"></td>
                       <td><input type="text" name="type_prod"></td>
                       <td><input type="text" name="impression_"></td>
                       <td><input type="number" name="type_pourcetagen"></td>

 
                       <td>
                           <a role="button" class="btn btn-warning" style="color: white;">Mettre à jour</a>
                       </td>
                     
                       
                   </tr>
                

               </tbody>
            </table>
        </div>
    
        <i class="fa fa-scissors" aria-hidden="true"></i>
    <hr style="border:dashed 2px rgb(228, 167, 167)"> 
       <h6>Format de produit</h6> 
       <div class="card md-3">
        <table class="table table-striped table-responsive">
           <thead>
               <tr>
                   <th scope="col-6">#</th>
                   <th scope="col-6">Largeur</th>
                   <th scope="col-6">Hauteur</th>
                   <th scope="col-6">Type de produit</th>
                   <th scope="col-6">cout</th>
                   <th scope="col-6">autre format (pour imprimer)</th>
                   <th scope="col-6">Action</th>
               </tr>
           </thead>
           <tbody>
            <tr>
                <th scope="row">#3</th>
                <td><input type="text" placeholder="carte"></td>
                <td><input type="text" name="type_prod"></td>
                <td><input type="text" name="type_prod"></td>
                <td><input type="text" name="impression_"></td>
                <td><input type="number" name="type_pourcetagen"></td>

                <td>
                    <a role="button" class="btn btn-danger" style="color: white;">Mettre à jour</a>
                </td>
              
                
            </tr>
           </tbody>
        </table>
    </div>

    <i class="fa fa-scissors" aria-hidden="true"></i>
    <hr style="border:dashed 2px rgb(228, 167, 167)"> 
   <h6 >Mode</h6>  
   <div class="card md-3">
    <table class="table table-striped table-responsive">
       <thead>
           <tr>
               <th scope="col-6">#</th>
               <th scope="col-6">Designation</th>
               <th scope="col-6">Type de produit</th>
               <th scope="col-6">Taille</th>
               <th scope="col-6">Cout</th>
          
               <th scope="col-6">Action</th>
           </tr>
       </thead>
       <tbody>
          
        <tr>
            <th scope="row">3</th>
            <td><input type="text" placeholder="carte"></td>
            <td><input type="text" name="type_prod"></td>
            <td><input type="text" name="type_prod"></td>
            <td><input type="text" name="impression_"></td>
            <td><input type="number" name="type_pourcetagen"></td>
   <td>
                <a role="button" class="btn btn-danger" style="color: white;">Mettre à jour</a>
            </td>
          
            
        </tr>
       </tbody>
    </table>
</div> 
        </div>
    
</div>

</div>