.table{
    width: 100%;
}
.th{
    padding: 0;
}
.row{
    width: 90%;
    margin-left: -242px;
    
    }
     img{
        transition: transform 2s;
        cursor: pointer;
    }
    img:hover{
        transform: scale(3.5);
    }
    .card{
        margin-left: 38px;
        width: 100%;
    }
    .col-md-12{
        
            margin-left: 26%;
        
    }