<div class="row rose">
    <div class="col-md-6 ">
    <div class="card md-3">
        <div class="card-header">
           Montant de Orders cumulés 
        </div>
      <div class="card-body">
       
        
      </div>
    </div>
    </div>
    <div class="col-md-6 ">
        <div class="card md-3">
            <div class="card-header">
                Nombre de commande par jour
             </div>
           <div class="card-body">
            
            
         
           </div>
          </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="input-group">
        <div class="form-outline mr-120">
          <input type="search" id="form1" class="form-control" />
          <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
</div>

<div class="row roue">
        <div class="col-md-12 ">
            <div class="card md-3">
                <table class="table table-striped table-responsive">
                   <thead>
                       <tr>
                           <th scope="col-6">#</th>
                           <th scope="col-6">Images</th>
                           <th scope="col-6">Informations</th>
                           <th scope="col-6">Quantité</th>
                           <th scope="col-6">Montant</th>
                           <th scope="col-6">Nom client</th>
                           <th scope="col-6">Date</th>
                           <th scope="col-6">Status</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr *ngFor="let item of Orders">
                           <th scope="row">{{item.userorder_id}}</th>
                           <td><img src="assets/carte.png" alt="" width="150"></td>
                           <td>sac, 20/30</td>
                           <td>20</td>
                           <td>100000</td>
                           <td>{{item.user_first_name}}  {{item.user_last_name}}</td>
                           <td>{{item.userorder_created_at}}</td>
                           <td>
                               <a role="button" class="btn btn-primary" style="color: white;" *ngIf="item.userorder_status=='new'">New</a>
                               <a role="button" class="btn btn-warning" style="color: white;" *ngIf="item.userorder_status=='pending at production'">en cours</a>
                               <a role="button" class="btn btn-secondary" style="color: white;" *ngIf="item.userorder_status=='production ended'">in packatages</a>
                               <a type="button" class="btn btn-default" style="background: cyan; color: white;" *ngIf="item.userorder_status=='pending delivery'">en livraison</a>
                               <a role="button" class="btn btn-success" style="color: white;" *ngIf="item.userorder_status=='Delivered'">livrée</a>
                           </td>
                         
                        
                    </tr>
                   </tbody>
                </table>
            </div>
        </div>
    
</div>
  
    