

   <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <app-header [data]="menu"></app-header>
     <div class="app-main">
       <app-sidebar [menu]="menu"></app-sidebar>
       <div class="app-main__outer"> 
              <app-bodymain *ngIf="bodymain" hidden></app-bodymain>
              <app-delivery-orders  *ngIf="delivery_order" [delivery]="delivery"></app-delivery-orders>
              <app-order-cancel *ngIf="order_cancel" hidden></app-order-cancel>
              <app-order-delivered *ngIf="order_delivered" [delivered]="delivered"></app-order-delivered>
              <app-orderpackatages *ngIf=" order_packs" [packatages]="packetages" ></app-orderpackatages>
              <app-orderpending *ngIf="pendorder" [Pending]="pending"></app-orderpending>
              <app-profile *ngIf="profile"></app-profile>
              <app-customer-new-orders *ngIf="neworder" [News]="new"></app-customer-new-orders>
           
       </div>
            
     </div>
 
 
 </div>