<h4 class="font-weight-bold pl-0 my-4 ml-10" style="text-align: center;">Commandes en Production</h4>

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="col-md-6 mb-4">

            <form class="form-inline md-form mr-auto">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="search" [ngModelOptions]="{standalone: true}" (input)="inputSearch()" aria-label="Search">
              <button class="btn btn-unique btn-rounded btn-sm my-0 waves-effect waves-light" type="submit">recherche</button>
            </form>
      
          </div>
        <div class="card md-3">
            <table class="table table-striped table-responsive">
               <thead>
                   <tr>
                       <th scope="col-6">#</th>
                       <th scope="col-6">Produit</th>
                       <th scope="col-6">Information</th>
                       <th scope="col-6">Quantité</th>
                       <th scope="col-6">prix unitaire</th>
                       <th scope="col-6">Montan total</th>
                       <th scope="col-6">Nom client</th>
                       <th scope="col-6">email</th>
                       <th scope="col-6">Numero</th>
                       <th scope="col-6">lieu livraison</th>
                       <th scope="col-6">M pay</th>
                       <th scope="col-6">Date</th>
                       <th scope="col-6">Status</th>
                   </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let item of element">
                    <th scope="row">{{item.userorder_id}}</th>
                    <td><img [src]="item.urls[0]" alt="" width="150"></td>
                    <td>sac, 20/30</td>
                    <td>20</td>
                    <td>10000</td>
                    <td>200000</td>
                    <td>{{item.user_first_name}}  {{item.user_last_name}}</td>
                    <td>{{item.user_email}}</td>
                    <td>0748089885</td>
                    <td>cocody</td>
                    <td>{{item.pmode_name}}</td>
                    <td>{{item.userorder_created_at}}</td>
                       <td>
                           <button class="btn btn-warning">En cours</button>
                       </td>
                   </tr>
                  
               </tbody>
            </table>
        </div>
    </div>

</div>