$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px; 
.bt{
    position: relative;
   
}
a{
    white-space: normal;
}

canvas{
    background: white !important;   
    background-origin: border-box;
    background-size: cover;
}


nav{

    align-items: center;
    text-align: center;
    justify-content: center;
    color: black;
    background-color: #e3e4e3;
    height: 55px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;

   //font-size: 12px;
}
ul{
    font-size: 12px;
    height: 100%;
}
.fal, .far, .fa, .fas,.fad{
    color: black;
}
ul li p{
    color: black;

}
.bt{
    background: green;
}
li a{
    vertical-align: middle;
    color: white;
    font-size: 26px;
    //padding-right: 41px;
}
//css boutton
.bout{
    background: #324161;
    height: 87px;
    margin: 8px;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    width: auto;
   
}
.col-1{
width: 12%;
background-color: #e3e4e3;
text-align: center;
color: white;
}
.fa-tshirt, .fa-text,.fa-download,.fa-shapes,.fa-book{
    color: white;
    margin-top: 8px;
}
.bout a{
    color: white;
    text-decoration: none;
}
.col-2{
    width: 48%;
    margin-top: 6px;
}
.col-2 img{
    background-color: #e3e4e3;
}

.nav-bar{
    display:flex 

}


.card{
    border: none;
}
.col-4{
    border: solid 1px;
    border-bottom: none;
    border-left: navajowhite;
    height: 487px;
    border-top: none;
    
}
.row-cols-3{
    overflow: scroll;
    height: 487px;
}
h5{
    font-family: 'Roboto',sans-serif;
}
.img{
    width: 100%;
}
//ccs images

.col-8{
  width: max-content;
  text-align: center;
  top:2em;
  padding-top: 1em;
  height: max-content;
  padding-bottom: 1em;
  margin-left: 2.5em;
  margin-right: 2.5em;

}
.container .pages{
  margin-left:15em;
  margin-right: 15em;
  width:max-content;
}

.drawing_area{
  background-color: #e3e4e3 !important;
  border: solid #324161;
  width: max-content;
  height: max-content;
  position: absolute;
  max-width: 100%;
}
.image{
    display: flex;
    margin-top: auto;
    width: 100%;
    position: inherit;
    //margin-left: 32rem;
    overflow-x: scroll;
}

//import css
.modal-footer{
justify-content: center;
}
//css import
.btne{
background-color: #324161;
color: white;
font-family: 'Roboto',sans-serif;
}
.modal-body{
font-family: 'Times New Roman',sans-serif;
color:black;
font-weight: bold;
height: 300px;
background: #e3e4e3;
}
.ody{
    position: relative;
    top: 93px;
}
.fat{
    color:black;
}
.palette a{
    margin: 10px;
    text-decoration: none;
   

    
}
.point{
    margin-top: 5px;
}
.palette a h6{
    font-size: 10px;
    color: black;
}
.couleur a{
    margin: 10px;
    
}
.palette{
    display: contents;
}
.cou{
    border: solid 1px #e3e4e3 ;
}
.fa-circle{
    color: red;
}
input:focus{
    box-shadow: none;
}
select:focus{
    box-shadow: none;
}
.taille a{
    margin: 10px;
    text-decoration: none;
    color: black;
}
.tete{
    border: solid 1px #e3e4e3;
    width: 74px;
   
}
h6, strong{
    font-family: 'Roboto',sans-serif;
}
h5{
    font-size: small;
}
.range{
    border: solid 1px #e3e4e3;
    width: 100%;
    //margin-left: 12px;
}
//images
.backg{
    overflow-y: scroll;
    margin-top: 8px;
    height: 29rem;
}

.mg{
    position: relative;
    height: 7rem;
    width: 138px;
    border: dashed #324161 1px;
    margin: 5px;

}
.grang{
width: auto;
position: relative;
height: 23rem;
}
h1{
    color: black;
    font-family: 'Roboto',sans-serif;
    margin: 6px;
}
.lin{
    background-color: #e3e4e3;
    

}
.mobile{
    display: none;
}
@media screen and (max-width:800px) {
    canvas {
        float: right;
    }
    .col-1{
       background-color: transparent;
        display: -webkit-inline-box;
        width: 41%;
        position: relative;
        right: 12px;
        margin-top: 42px;
    }
    .mobile{
        display: flex;
        position: absolute;
        top: 61px;
    }
    .bout{
        margin: 1px;
       //margin-left: -6px;
    }
    .col-1 p{
        font-size: 11.5px;
    }
    .link{
        display: none;
    }
    .col-4{
        width: 100%;
        margin-top: 10px;
        border: none;
        display: contents;
    }
    .grang{
        right: 220px;
        width: 311px;
    }
    .grang img{
        width: 331px;
        right: 20px;
    }
    .mg1{
    position: relative;
    top: 382px;
    left: -228px;
    }
    .mg2{
        position: relative;
        top: 276px;
    left: -66px;
    }
    .col-8{
        width: 100%;
        position: fixed;
        float: right;
        top: 19px;
    }
    .row-cols-3{
        left: 10px;
    position: relative;
    top: 8px;
    }
    .view{
        width: 300px;
    }
    
}
@media screen and (max-width:800px) and (max-height:1280px) {
    .col-1{
        width: 16%;
    }
    .col-4{
        width: 31%;
    }
    .mg1{
       top: 410px;
    }
    .mg2{
        top: 290px;
        left: -44px;
    }
    ul{
        font-size: 8px;
        font-family: 'Times';
        font-weight: bold;
    }
    .bt{
        left: -35px;

    }
    .col-2 img{
        width: 99px;
    }
    .grang{
        right: 223px;
        width: 327px;
    }
    .grang img{
        width: 313px;
    }
    .palette a{
        margin: 11px;
    }
}
@media screen and (max-height:768px)  and (orientation:landscape) {
    .bt{
        left: 222px;
    }
    
}


.custom {
    background: #324161;
    padding: 20px 0 10px 10px;
    border-right: 5px solid #fab91a;
    width: 7em;
    transition: 0.5s;
    overflow: hidden;
    height: 36rem;
}

.custom li {
  list-style: none;
  color: white;
  font-size: 15px; 
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}

.custom li:hover {
  background: #324161;
 
}

.custom li.active:before {
  content: '';
  position: absolute;
  top:-20px;
  right: 0px;
  width: 20px;
  height:20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 10px 10px 0 #fab91a;
}

.custom li.active:after {
  content: '';
  position: absolute;
  bottom:-20px;
  right: 0px;
  width: 20px;
  height:20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 10px -10px 0 #fab91a;

}

.custom li.active {
  background:  #324161;
}

.custom:hover {
  width: 120px;
  height: 36rem;
}

.custom li a p{
    font-size: 0.9rem;
    color: white !important;
}
.roat{
 margin-top: 10% auto !important;
    position: relative;
    border: 1px solid;
    margin-left: 60%;
    margin-right: 9%;
    bottom: 14rem;
}

