<div class="container">

<context-menu>
  <ng-template contextMenuItem let-item (execute)="duplicate()" >
    <span style="color: black;"><i class="fas fa-clone fa-2x" style="color: #fab91a;"></i>dupliquer</span>
  </ng-template>
  <ng-template contextMenuItem (execute)="remove()" >
     <span style="color: black;"> 
          <i class="far fa-trash-alt fa-2x" style="color: #fab91a;"></i> 
      supprimer</span>
  </ng-template>

  <ng-template contextMenuItem let-item (execute)="sendBack()" >
    <span style="color: black;">
      <i class="fal fa-send-backward fa-2x" style="color:#fab91a"></i>
      arrière plan
      </span>
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="sendForward()"  >
    <span style="color: black;">
      <i class="fal fa-bring-forward fa-2x" style="color:#fab91a"></i>
      premier plan
      </span>
  </ng-template>

 

</context-menu>


    <nav>
        <ul class="nav-bar" >
         
          <li class="nav-link link">
            <i class="fal fa-undo-alt fa-2x" role="button" id="undo" (click)="Undo()" ></i>
          </li>
          
          <li class="nav-link link">
            <i class="fal fa-redo-alt fa-2x" role="button" id="redo" (click)="Redo()" > </i>
          </li>
          <li class="nav-link link">
            <i class="fal fa-send-backward  fa-2x" role="button" (click)="sendBack()" ></i>
          </li>
          <li class="nav-link link">
            <i class="fal fa-bring-forward fa-2x" role="button" (click)="sendForward()"></i>
          </li>
          <li class="nav-link link">
            <i class="far fa-clone fa-2x"  role="button" (click)="duplicate()"></i>
          </li>
          <li class="nav-link link">
            <i class="far fa-trash-alt fa-2x"  role="button" (click)="remove()"></i>
          </li>
          <li class="nav-link link">
            <i class="fal fa-save fa-2x" role="button" (click)="save()"></i>
          </li>
          <li class="nav-link link">
            
            <input type="text"  name="title" [(ngModel)]="title">
          </li>
        </ul>
      </nav>

    <!--bouttons-->
    <div class="row" style="margin-left: -0.8em;" >
      <ul class="custom">
        <li class="active" > 
          <a  (click)="showproduite()"  role="button" >
          <i class="fal fa-tshirt "></i>
          <p>produits</p>
        </a></li>
        <li> 
          <a  (click)="showmodeles()"  role="button" >
          <i class="fal fa-tshirt "></i>
          <p>Maquettes</p>
        </a></li>

        <li><a (click)="showpallette()" role="button" >
          <i class="fal fa-text"></i>
          <p>Texte</p>
        </a></li>
       
        <li>  <a role="button" data-toggle="modal" data-target="#import" id="importing" data-backdrop="false">
         
          <i class="fal fa-download "></i>
          <p>Importer</p>
        </a></li>
        <li>  <a  (click)="showforme()" role="button" style="width: 0.75em;">
          <i class="fal fa-shapes "></i>
          <p>Elements</p>

        </a></li>
        <li>
          <a  (click)="showdesign()">
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" style="width: 1.5em;">
              <path
                d="M4.03 21.03a.75.75 0 0 1-1.06-1.06l17-17a.75.75 0 0 1 1.06 1.06l-17 17zm4.5.5a.75.75 0 0 1-1.06-1.06l13-13a.75.75 0 0 1 1.06 1.06l-13 13zm5 0a.75.75 0 0 1-1.06-1.06l8-8a.75.75 0 0 1 1.06 1.06l-8 8zm5.5-.5a.75.75 0 0 1-1.06-1.06l2-2a.75.75 0 0 1 1.06 1.06l-2 2zm-15.5-4.5a.75.75 0 0 1-1.06-1.06l13-13a.75.75 0 0 1 1.06 1.06l-13 13zm0-5a.75.75 0 0 1-1.06-1.06l8-8a.75.75 0 0 1 1.06 1.06l-8 8zm.5-5.5a.75.75 0 0 1-1.06-1.06l2-2a.75.75 0 0 1 1.06 1.06l-2 2z"
                fill="currentColor"
              ></path>
            </svg>

            <p>Arrière plan</p>

          </a>
          
      </li>
      </ul>
      
        <div class="col-4" >
            
            <div  id="collapse1" *ngIf="produite">
              <h6>Les produits</h6>
              <div class="row row-cols-3" *ngIf="default">    
                             <div class="col-2" *ngFor="let item of default_data">
                        <div class="card">
                          <a role="button">
                            <img class="img" [src]="item.product_urls[0]" (click)="newBackground(item)">
                            </a>
                           
                        </div>
                      </div>          
                </div>  

                <div class="row row-cols-3" *ngIf="!default">    
                  <div class="col-2" *ngFor="let item of data.product_urls">
             <div class="card">
               <a role="button">
                 <img class="img" [src]="item" (click)="makeBackground(item)">
                 </a>
                
             </div>
           </div>          
     </div>  
              </div>   
          <div class="row">
            <div  id="collapse2"  *ngIf="pallette">
              <h1>Pallette</h1>
              <div class="card card-body">
              <div class="row">
                  <div class="input">
                    <input type="text" class="form-control" name="inputcange" [(ngModel)]="text" (input)="InputChange()">

                  </div>
                  <!--couleur-->
      
                  <div class="palette">
                    <!---couleurs-->
          
                    <div class="cou">
                      <a role="button"  data-bs-toggle="collapse" href="#collapse7" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-circle fa-x fat"></i>
                       
                      </a>
                    </div>
                   
      
                    <div class="cou">
                      <a role="button" >
                        <i class="fal fa-text fa-x fat "></i>
                      </a>
                    </div>
    
      
                    <div class="cou">
                      <a role="button" >
                        <i class="fal fa-bold fa-x fat " (click)="makeBold()"></i>
                      </a>
                    </div>
                    <div class="cou">
                      <a role="button" >
                        <i class="fal fa-italic fa-x fat" (click)="makeItalic()"></i>
                      </a>
                    </div>
                    <div class="cou">
                      <a role="button" (click)="textAlign(textalign[3])">
                        <i class="fas fa-align-right fa-x fat "></i>
                      </a>
                    </div>
                    <div class="cou">
                      <a role="button" (click)="textAlign(textalign[0])">
                        <i class="fal fa-align-left fa-x fat"></i>
                      </a>
                    </div>
      
                  <div class="cou">
                    <a role="button" (click)="textAlign(textalign[1])">
                      <i class="fas fa-align-center fa-x fat"></i>
                     </a>
                  </div>
                  <div class="cou">
                    <a role="button" (click)="textAlign(textalign[2])">
                      <i class="fas fa-align-justify fa-x fat"></i>
                     </a>
                  </div>
                  <div class="cou">
                    <a role="button">
                      <i class="fas fa-align-justify fa-x fat"></i>
                     </a>
                  </div>
                  <div class="cou">
                    <a role="button">
                      <i class="fad fa-underline" (click)="underline()"></i>
                    </a>
                  </div>

                  <div class="cou">
                    <a role="button">
                      <i class="fad fa-overline" (click)="overline()"></i>
                    </a>
                  </div>

                </div>
                 <!--couleur police-->
                 <div class="collapse" id="collapse7">
                  <div class="card card-body">
                    <h6>couleur de police</h6>
                    <div class="couleur" style=" background: rgb(23, 100, 145)! important;">
                      <div class="couleur" style=" background: rgb(23, 100, 145)! important;">
                        <color-circle [colors]="colors" (onChange)="texteclor($event)"></color-circle>
        
                      </div>
                   
                    </div>
                  </div>
                </div>
                <!--police font-->
                <div class="selected">
                  <select class="form-control" name="myfont" id="myfont" (change)="textfont($event)">
                    <option value="choix">Choix de police</option>
                    <option *ngFor="let item of fonts" [value]='item.name + "*" +item.url'>{{item.name}}</option>
                  </select>
                </div>
                <!--taille de police-->
           <div class="taille" style="display: flex;">
            <div class="tete">
              <h6>taille de la police</h6>
            </div>
            <div class="plus tete">
              <a role="button"  class="point">
                 <i class="fal fa-minus-circle fa-2x" (click)="minus()"></i>
              </a>
            </div>
            <div class="tete">
              <a role="button" class="point">
                <strong style="font-weight: bold;">{{text_width}}</strong>
              </a>
            </div>
            <div class="tete">
              <a class="point" role="button">
                <i class="fal fa-plus-circle fa-2x" (click)="textwidth()"></i>
             </a>
            </div>
         </div>
               
                </div>
                <div class="range" >
                  <label for="customRange2" class="form-label">courber le texte</label>
                   <input type="range" class="form-range" min="0" max="500" id="customRange2" disabled>
                 </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div  id="collapse3"  *ngIf="formes">
              <h6>Les formes</h6>
              <div class="card card-body">
                <div class="row row-cols-3">
                  <div class="col-2" *ngFor="let item of shape">
                    <div class="card">
                      <a role="button">
                        <img src="{{item}}" width="100" height="100" (click)="setItem(item)">
                      </a>
                    </div>
                  </div>
                   
      
                </div> 
      
              </div>
            </div>
          </div>
          <div class="row">
            <div  id="collapse4"  *ngIf="modeles">
              <h1>Maquettes</h1>
              <div class="card card-body">
                <div class="row row-cols-3">
              
                    
                    <div class="col-2" *ngFor="let item of list_of_models">
                      <div class="card" >
                        <a role="button">
                          <img class="img" [src] ="item.product_urls[0]" (click)="newBackground(item)">
                          </a>
                      </div>
                      </div>                 
                  </div> 
              </div>
            </div>
          </div>
          <div class="row background">

            <div  id="collapse4"  *ngIf="design">
              <h6>arrière plan</h6>
              <div class="card card-body">
                <div class="row">
                  <div class="color">
                    <a type="button" data-target="#mdbModal" data-toggle="modal" data-backdrop="false">
                    <i class="fal fa-palette fa-2x" style="color: blue;"></i>
                    </a> 
                       <!-- Modal -->
                       <div
                         class="modal fade"
                         id="mdbModal"
                         tabindex="-1"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                         <div class="modal-dialog modal-sm">
                           <div class="modal-content">
                             <div class="modal-header">
                               <h5 class="modal-title" id="exampleModalLabel">couleur sans motif</h5>
                               <button
                                 type="button"
                                 class="btn-close"
                                 data-dismiss="modal"
                                 aria-label="Close"
                               ></button>
                             </div>
                             <div class="modal-body">
                               <div class="color">
                               <input type="color" name="" id="">
                              </div>
                              <br>
                              <h6>couleur par defaut</h6>
                              <div class="defalutcolor">
                                <color-circle [colors]="colors"></color-circle>
                              </div>
                             </div>
                             <div class="modal-footer">
                               <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                 Fermer
                               </button>
                               <button type="button" class="btn btn-primary">Enregistrer</button>
                             </div>
                           </div>
                         </div>
                       </div>
                  </div>
                </div> 
                <div class="row backg">
                  <div class="Images">
                    <h4>Motifs</h4>
                 
                  
                    <div class="row row-cols-1 row-cols-md-2  ">
                      <div class="col mb-4" *ngFor="let item of backUrl" >
                        <!-- Card -->
                        <div class="card ">

                          <!--Card image-->
                          <div class="view overlay">
                            <img class="card-img-top" [src]="item.url"
                              alt="Card image cap" >
                            <a role="button" (click)="makeBackground(item.url)">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>
                     </div>
                        <!-- Card -->
                      </div>

                    </div>
                  </div>
                </div> 
              </div>
            </div>
  
          </div>
        </div>

        <div class="col-8 drawing_area"  style="position: relative;">
          <div class="container">
            <div   [contextMenu]="basicMenu" [contextMenuSubject]="items">
              <canvas id="aladin"></canvas>
            </div>
          </div>
        
        </div>
          
        <div class="container pages">
          <div class="image" >
          
              <div class="mg mg1 zoom " role="button" *ngFor="let item of canvaspages" style="background: white !important;" >
                <img class="marg" [src]="item.url" width="100" alt="" (click)="reactivatePage(item)">
                <br>              <br>
  
                <span>{{item.id}}</span>
  
              </div>
              <div class="mg mg1 zoom" role="button" style="background: white !important;">
                <i class="fas fa-plus-circle fa-6x" style="color: #fab91a;" (click)="makeNewPage()"></i>
              </div>
             </div> 
            </div>
        
      
      </div>
     
      <!--modale-->
      <div class="modal fade" id="import" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="margin-top: 57px;
      margin-left: 109px;">
        <div class="modal-dialog  modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Importer une Image</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="text-align: center;">
              <div class="ody">
                <label for="file">
                  <a role="button" class="btn btne">importer une image</a>
                </label>
                <h6><strong>importer une image</strong></h6>
                <h6>Format de fichier: <strong>PNG, JPG, BMP, SVG</strong></h6>
                <h6>Taille de l'image: <strong>10 Mo Max</strong> </h6>
             </div>
             <input type="file" name="myfile" id="file"  hidden>
            
            </div>
            <div class="image" style="text-align: center;">
              <img class="view" src="" width="500" alt="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">ok</button>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile" >
        <li class="nav-link lin " title="annuler">
          <i class="fal fa-undo-alt fa-x" ></i>
      
        </li>
        <li class="nav-link lin" title="retablir">
          <i class="fal fa-redo-alt fa-x" ></i>
       
        </li>
        <li class="nav-link lin">
          <i class="fad fa-layer-group fa-x"></i>
        
        </li>
        <li class="nav-link lin">
          <i class="fas fa-layer-group fa-x" ></i>
         
        </li>
        <li class="nav-link lin" title="dupliquer" >
          <i class="far fa-clone fa-x" ></i>
         
        </li>
        <li class="nav-link lin" title="supprimer">
          <i class="far fa-trash-alt fa-x" ></i>
         
        </li>
        <li class="nav-link lin" title="Enregistrer">
          <i class="fal fa-save fa-x"></i>
         
        </li>
      </div>
    
      <canvas id="pages" hidden></canvas>


</div>

