

   <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <app-header [data]="menu"></app-header>
     <div class="app-main">
            <app-sidebar [menu]="menu"></app-sidebar>
            <div class="app-main__outer"> 
                   <app-orderparketages *ngIf="packatage" [prod_ended]="prodended"></app-orderparketages>
                   <app-orderdelivered *ngIf="delivered" [delivered]="Delivered" ></app-orderdelivered>
                   <app-orderdelivery *ngIf="delivery" [delivery]="pendingdelivry"></app-orderdelivery>
                   <app-profile *ngIf="profile"></app-profile>
            </div>
     </div>
 </div>