<div class="app-header header-shadow" >
    <div class="app-header__logo" >
        <img src="assets/images/aladin.jpeg" width="100"  alt="">
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>    <div class="app-header__content">
        <div class="app-header-left">
            <div class="search-wrapper">
                <div class="input-holder">
                    <input type="text" class="search-input" placeholder="Type to search">
                    <button class="search-icon"><span></span></button>
                </div>
                <button class="close"></button>
            </div>  
          </div>
        <div class="app-header-right" hidden>
            <div class="header-btn-lg pr-0">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left">
                            <div class="btn-group">
                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                    <img width="42" class="rounded-circle" src="/assets/images/avatars/1.jpg" alt="">
                                    <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                </a>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right" *ngIf="designer">
                                    <button type="button" tabindex="0" class="dropdown-item" (click)="profle()">Profile</button>
                                    <button type="button" tabindex="0" class="dropdown-item" (click)="listofprod()">Liste de produits</button>

                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" tabindex="0" class="dropdown-item" (click)="logout()">Deconnexion</button>
                                </div>


                                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right" *ngIf="production">
                                    <button type="button" tabindex="0" class="dropdown-item" (click)="profle()">Profile</button>
                                    <button type="button" tabindex="0" class="dropdown-item" (click)="orders()">Liste de commandes</button>


                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" tabindex="0" class="dropdown-item" (click)="logout()">Deconnexion</button>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content-left  ml-3 header-user-info">
                            <div class="widget-heading">
                                {{data.user}}
                            </div>
                            <div class="widget-subheading">
                            {{data.role}}
                            </div>
                           
    
                        </div>
                        <div class="widget-content-right header-user-info ml-3">
                            <li class=" p-1  show-toastr-example">
                                <img class="rounded-circle z-depth-2" src="assets/images/PROFILE.png"  data-holder-rendered="true"  width="40">
                            </li>
                        </div>
                       
                    </div>
                </div>
            </div>     
         </div>
    </div>
</div> 
