.table{
    width: 100%;
   // overflow: sr;
}
.th{
    padding: 0;
}
.row{
    width: 86%;
    margin-left: -431px;
}
 img{
    transition: transform 2s;
    cursor: pointer;
}
img:hover{
    transform: scale(3.5);
}
.card{
    margin-left: 38px;
    width: 113%;
}
.col-md-12{
    margin-left: 44%;
}
.btn-rounded{
    background:linear-gradient(45deg, rgb(172, 65, 65), rgb(68, 68, 153),#324161);
    color: white;
    
}
.col-md-6{
    position: relative;
    left: 38rem;
}