<app-login-header></app-login-header>

<app-user-apps [user]="data" *ngIf="userapp"></app-user-apps>

<div class="container" *ngIf="userapp==false">

	<div class="screen">
	
		<div class="screen__content">
	       
			<img src="/assets/images/aladin.jpeg" width="200" alt="">
			<app-preload *ngIf="loading"></app-preload>
			<form class="login">
				<div class="login__field">
					<i class="login__icon fas fa-user" hidden ></i>
					<input type="text" class="login__input" placeholder="Email" [(ngModel)]="user.email"name="emal">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock" hidden ></i>
					<i class="fal fa-key" hidden></i>
					<input type="password" class="login__input" placeholder="Password"  name="passordw"[(ngModel)]="user.password">
				</div>
				<button class="button login__submit" (click)="login()">
					<span class="button__text">Je me connecte</span>
					<i class="button__icon fas fa-chevron-right" hidden></i>
				</button>				
			</form>
			<div class="social-login" >
			<br>	
				<h3 style="font-family: Archivo Black;">Plus que trois voeux.</h3>
				
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

<app-footer></app-footer>
