<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Dashboard </li>
            <li>
                <a role="button">
                    <i class="metismenu-icon pe-7s-display2"></i>
                    Dashboard
                </a>
            </li>
            <li class="app-sidebar__heading">Commandes</li>
                <li>
                    <a role="button" (click)="showorderpacks()">
                        <i class="metismenu-icon pe-7s-display2"></i>
                       A  emballer
                    </a>
                </li>
                <li>
                    <a role=" button" (click)="showdelivery()">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        A faire livrer
                    </a>
                </li>
                <li>
                    <a role=" button" (click)="showdelivered()">
                        <i class="metismenu-icon pe-7s-display2"></i>
                       Commandes Livrées
                    </a>
                </li>
                <li>
                    <a role=" button" (click)="showprofile()" >
                        <i class="metismenu-icon pe-7s-display2"></i>
                        profile
                    </a>
                </li>
            
            <li>
                <a href="/">
                    <i class="metismenu-icon pe-7s-power">
                    </i>Deconnexion
                </a>
            </li>
        </ul>
    </div>
</div>