<div class="container">
      <div class="card" id="card">
        <div class="card-body mb-4 h-auto">
          <!-- Stepper -->
          <br>
          <h5 class="font-weight-bold pl-0 my-4"><strong>J'ajoute Mon Produit</strong></h5>
          <br>
          <div class="steps-form">
           
            <div class="steps-row setup-panel">
              <div class="steps-step">
                <a href="#step-9" id="step1" type="button" class="btn btn-indigo btn-circle">1</a>
                <p>Informations du produit</p>
              </div>
              <div class="steps-step" >
                <a href="#step-10" id="step2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p>Produit</p>
              </div>
              <div class="steps-step" hidden>
                <a href="#step-11" id="step3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p>Editeur</p>
              </div>
            </div>
          </div>
      
          <form role="form">
            <!-- First Step -->
            <div class="row setup-content" id="step-9" *ngIf="step1">
              <div class="col-md-6 forme">
                <div class="form-group md-form mt-3">
                  <label for="yourName" data-error="wrong" data-success="right"><b>Catégorie</b></label>
                  <select id="category_type" required="required" class="form-control validate"  (change)="getTyp_Cat($event)" name="category">
                    <option value="choice">Choisissez votre categorie </option>
                    <option  *ngFor="let item of list_category" [value]="item.category_id+ token +item.category_label ">{{item.category_label}}</option>
                  </select>
                   
                </div>

              
             
              </div>
            

              <div class="col-md-6">
                 <div class="form-group md-form mt-3">
                <label for="type_of_product" data-error="wrong" data-success="right"><b>Type de produit</b></label>
                <select id="type_ofproduct" required="required" class="form-control validate" (change)="getType($event)" name="type" disabled id="type_pro" >
                  <option value="choice">Choisissez un type de produit</option>
                  <option  *ngFor="let item of table_type" [value]="item.productype_id + token + item.productype_label">{{item.productype_label}}</option>
                 
  
                </select>
              </div>
            </div>


              <div class="col-md-6">
                <div class="form-group md-form mt-3">
                    <label for="yourLastName" data-error="wrong" data-success="right"><b>Nom du produit</b></label>
                    <input id="yourLastName" name="name_of_product" type="text" required="required" class="form-control validate" [(ngModel)]="mydata.name">
                  </div>
                </div>

             




                <div class="col-1">
                  <button class="btn btn-indigo btn-rounded nextBtn float-right" type="button" (click)="showstep2()">Suivant</button>

                </div>

          </div>

      
            <!-- Second Step -->
            <br><br>
            <div class="row setup-content" id="step-10" *ngIf="step2" >
              <div class="col-md-6">
                <div class="md-form">
                    <label for="form1">Images</label>
                  <input mdbInput type="file" id="form1" class="form-control" (change)="upload($event)" multiple>
                </div>
                <img  *ngFor="let item of url" [src] ="item" width="100">
                <br>
                <button class="btn btn-indigo btn-rounded prevBtn" type="button" (click)="prevstep1()">Précédent</button>
              </div>
              <div class="col-md-6" >
  
                  <br>
                  <button class="btn btn-indigo btn-rounded nextBtn float-right" type="button" (click)="register()" >Enregistrer</button>  
              </div>
                
            </div>
      
          
      
          </form>
      
        </div>
    </div>
    
</div>