
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <h6 class="font-weight-bold pl-0 my-4 ml-10" style="text-align: center;">Les commandes à produire</h6>
            <div class="card md-3" >
                <table class="table table-striped table-responsive">
                   <thead>
                       <tr>
                           <th scope="col-6">#</th>
                           <th scope="col-6">Produit</th>
                           <th scope="col-6">Information</th>
                           <th scope="col-6">Quantité</th>
                           <th scope="col-6">Nom client</th>
                           <th scope="col-6">email</th>
                           <th scope="col-6">Numero</th>
                           <th scope="col-6">lieu livraison</th>
                           <th scope="col-6">Date</th>
                           <th scope="col-6">Action</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr *ngFor="let item of newOrders">
                           <th scope="row">{{item.userorder_id}}</th>
                           <td><img [src]="item.urls[0]" alt="" width="150"></td>
                           <td>sac, 20/30</td>
                           <td>20</td>
                           <td>{{item.user_first_name}}  {{item.user_last_name}}</td>
                           <td>{{item.user_email}}</td>
                           <td>0748089885</td>
                           <td>cocody</td>
                           <td>{{item.userorder_created_at}}</td>
                           <td> 
                               <a role="button">
                                <i class="fal fa-cloud-download-alt" style="font-size: 2rem;color: rgb(136, 136, 197);"></i>
                              </a>
                              <a role="button" [id]="item.userorder_id" class="btn" style="background: green;" (click)="updateStatus($event)">
                               produire
                              </a>
                           </td>
                       </tr>
                      
                   </tbody>
                </table>
            </div>
        </div>
    
    </div>
  
    

