
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <app-header [data]="menu"></app-header>
  <div class="app-main">
    <app-sidebar [menu]="menu" ></app-sidebar>
    <div class="app-main__outer">
        <app-productlist *ngIf="listp" [list]="list_of_product"></app-productlist>
      <app-editor *ngIf="default" [data]="data"[Items]="editor_item"  [usr]="user" [category]="category" [type]="type"  style="position: fixed;" [default_data]="list_of_product" [list_of_models]="list_of_models"></app-editor>
        <app-addproduct [list_typeProd]="type" [list_category]="category" *ngIf="cloth"></app-addproduct>
        <app-add-shape [prod_type]="type"  [Listheme_type]="typ_theme"  [usr]="user" *ngIf="design" (item)="update($event)"></app-add-shape>
        <app-designerprofile *ngIf="profile"></app-designerprofile>
        <app-footer style="position:fixed; bottom:0% ;width:70%;height:auto; margin-left:2.5em" ></app-footer>
    </div>
  </div>
</div>