.table{
    width: 100%;
    text-align: center;
}
th{
    padding: 8px;
    width: 16%;
}
.row{
    width: 90%;
    margin-top: 5rem;
    margin-left: -242px;
    
    }
     img{
        transition: transform 2s;
        cursor: pointer;
    }
    img:hover{
        transform: scale(3.5);
    }
    .card{
        margin-left: 38px;
        width: 100%;
    }
    .col-md-12{
        
            margin-left: 26%;
 }
 td a{
     margin: 9px;
 }