<div class="row">
    <div class="col-md-12">
        <div class="card md-3">
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénoms</th>
                  <th scope="col">Telephone</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Roles</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Yoboue</td>
                  <td>Kouamé Franck</td>
                  <td>0748089885</td>
                  <td>gryttyfy@gmail.com</td>
                  <td>Designer</td>
                  <td style="display: flex;">
                      <a role="button">
                        <i class="fal fa-trash-alt" style="color: red;font-size: 1.5rem;" ></i>
                      </a>
                      <a role="button">
                        <i class="fal fa-user-edit" style="color: #324161;font-size: 1.5rem;"></i>
                      </a>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>