.card{
    margin: 7px;
}
.form-control{
    border-bottom: solid 1px #ccc;
    border-radius:0;
    
}
.card-header{
    background: #324161;
    color: white;
}
.bt{
    width: 50%;
    float: right;
}
.bte{
    width: 20%;
    float: right;
}
.bad{
    background: #324;
}
.mb-4 img{
    width: 40%;
}
.bts{
    width: 100%;
    position: relative;
    left: 17rem;
    background: #324161;
    color: white;

}
a{
    color: white;
}
