body {
    background: rgba(96, 196, 196, .3);
    font-family: 'Open-sans', sans-serif;
  }
 
  svg {
    width: 30%;
    margin: 0 5% 3vh !important;
  }
  
  .st0{fill:#EFCBB4;}
  .st1{fill:#FFE1CA;}
  .st2{fill:#473427;}
  .st3{
      fill:none;
      stroke:#473427;
      stroke-width:7;
      stroke-linecap:round;
      stroke-miterlimit:10;
  }
  .st4{fill:#D37D42;stroke:#D37D42;stroke-miterlimit:10;}
  
  .smile {
    display: none;
  }
  .uhoh {
    display: none;
  }
  path.smile {
      fill-opacity: 0;
      stroke: #000;
      stroke-width: 6;
      stroke-dasharray: 870;
      stroke-dashoffset: 870;
      animation: draw 7s infinite linear;
    }
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  #path {
    stroke-dasharray: 628.3185307179587;
    animation: dash 5s linear forwards;
  }
  @keyframes dash {
    from {
      stroke-dashoffset: 628.3185307179587;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  
  .message {
    float: right;
    margin: 10em 10em 0 0;
    padding: 0 2em;
  }
  .message h1 {
    color: #3698DC;
    font-size: 3vw !important;
    font-weight: 400;
  }
  .message p {
    color: #262C34;
    font-size: 1.3em;
    font-weight: lighter;
    line-height: 1.1em;
  }
  .light {
    position: relative;
    top: -36em;
  }
  .light_btm {
    position: relative;
  }
  .light span:first-child {
    display: block;
    height: 6px;
    width: 150px;
    position: absolute;
    top:5em;
    left: 20em;
    background: #fff;
    border-radius: 3px;
  /*   transform: rotate(40deg); */
  }
  .light span:nth-child(2) {
    display: block;
    height: 6px;
    width: 200px;
    position: absolute;
    top:6em;
    left: 19em;
    background: #fff;
    border-radius: 3px;
  /*   transform: rotate(40deg); */
  }
  .light span:nth-child(3) {
    display: block;
    height: 6px;
    width: 100px;
    position: absolute;
    top:7em;
    left: 24em;
    background: #fff;
    border-radius: 3px;
  /*   transform: rotate(40deg); */
  }
  
  .light_btm span:first-child {
    display: block;
    height: 6px;
    width: 150px;
    position: absolute;
    bottom:6em;
    right: 20em;
    background: #fff;
    border-radius: 3px;
  /*   transform: rotate(40deg); */
  }
  .light_btm span:nth-child(2) {
    display: block;
    height: 6px;
    width: 200px;
    position: absolute;
    bottom: 7em;
    right: 21em;
    background: #fff;
    border-radius: 3px;
  /*   transform: rotate(40deg); */
  }
  .light_btm span:nth-child(3) {
    display: block;
    height: 6px;
    width: 100px;
    position: absolute;
    bottom:8em;
    right: 24em;
    background: #fff;
    border-radius: 3px;
  /*   transform: rotate(40deg); */
  }
  .use-desktop {
    font-weight: 400;
    color: #3698DC;
    border: 1px solid white;
    height: 3.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 25px;
    line-height: 1.1em;
    font-size: 5vw;
  }
  