

<span class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="Cancel()">
      <span aria-hidden="true">&times;</span>
    </button> 
</span>
  
