* {
	padding:0;
	margin:0;
	-box-sizing:border-box;
}


img {
	max-width: 100%;
	height: auto;
}
ul,ol {
	list-style-type: none;
}

body {
	background-color: #0273c7;
	font-family: 'cambria', sans-serif;
}

@media (min-width:768px){
	.container {
		width:900px;
	}

}
.container {
	margin:10px auto;
	position: relative;
	overflow: hidden;
    background: #fab91a !important;
}
.page-title {
	margin:17px auto;
	text-align: center;
	color:#324161;
	font-size: 17px;
}
.page-title h1 {
	font-size:40px;
	line-height: 1;
}
.page-title a{
	color:#ff7777;
	text-decoration: none;
}
.page-title a:hover{
	text-decoration: underline;
	color: #ff3333;
}

.circle-menu-box {
	width:600px;
	height: 600px;
	position: relative;
	margin:30px auto;
}
	.circle-menu-box a.menu-item {
		display: inline-block;
		text-decoration: none;
		border-radius: 100%;
		margin:20px;
		text-align: center;
		width:100px;
		height:100px;
		background-color:#fff;
		color:#324161;
		padding:30px 0;
        line-height:1;
		position: relative;
		font-size: 30px;

		transition:all 0.5s;
		-moz-transition:all 0.5s;
		-webkit-transition:all 0.5s;
		-o-transition:all 0.5s;
	}

	.circle-menu-box a.menu-item:hover {
		transform:scale(1.5);
		-webkit-transform:scale(1.5);
		-moz-transform:scale(1.5);
		-o-transform:scale(1.5);
		color:#fff;
		background: #ff3333;
	}