<div class="container">
	<div class="page-title">
		<h1 >Bonjour {{user.info.name}}<br/><small>voici la liste des applications aux quelles vous avez accès</small></h1>
	</div>

	<div class="menu-container">

		<div class="circle-menu-box ">

    <a href="/me" class="menu-item">
        <span class="fa fa-home"></span>
    </a>

    <a href="/production/manager" class="menu-item">
        <span class="fa fa-home"></span>
    </a>
    <a href="/designer" class="menu-item" (click)="designerapp()">
        <span class="fa fa-home"></span>
    </a>
    <a href="/customer/services" class="menu-item">
        <span class="fa fa-home"></span>
    </a>
    <a href="/stock/manager" class="menu-item">
        <span class="fa fa-home"></span>
    </a>
   
              
		</div>

	</div>


</div>