<app-login-header></app-login-header>
   
<div class="container">
    <div class="row w-100" >
        <div class="col-md-12 col-lg">
            <div class="card md-3">
                <div class="card-header">Creation de compte utilisateur</div>
                <div class="card-body">
                    <form >
                        <div class="row">
                            <!-- Email input -->
                            <div class="outline mb-4 col-md-6">
                                <input type="text" id="name" class="form-control" placeholder="Nom" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}" />
                              
                            </div>
                            <div class="outline mb-4 col-md-6">
                                <input type="text" id="lastname" class="form-control" placeholder="Prénoms" [(ngModel)]="prenom" [ngModelOptions]="{standalone: true}"/>
                               
                            </div>
                        </div>
                        <div class="row">
                            <!-- Email input -->
                            <div class="outline mb-4 col-md-6">
                                <input type="email" id="email" class="form-control" placeholder="E-mail" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"/>
                               
                            </div>
                            <div class="outline mb-4 col-md-6">
                                <input type="telephone" id="tel" class="form-control" placeholder="Téléphone" [(ngModel)]="telephone" [ngModelOptions]="{standalone: true}"/>
                                
                            </div>
                            <div class="outline mb-4 col-md-6">
                                <input type="password" id="pwd" class="form-control" placeholder="Mode de pass" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
                                
                            </div>
                            <div class="outline mb-4 col-md-6">
                                <input type="password" id="confpawd" class="form-control" placeholder="confirmer password" [(ngModel)]="confpwd" [ngModelOptions]="{standalone: true}"/>
                                
                            </div>

                            <app-alert *ngIf="error" [message]="message" (cancel)="Cancel($event)" ></app-alert>


                            <div class="outline mb-4 col-md-6">
                                <form>
                                    <div class="select-wrapper">
                                        <label for="sex">Sexe</label>
                                      <select class="select" id="sex" (change)="onchange($event)">
                                          <option value="choix" selected>Sexe</option>
                                        <option value="femme">Femme</option>
                                       <option value="homme">Homme</option>
                                      </select>
                                    </div>
                                </form>
                             
                                
                            </div>
                           
                        </div>
                        <app-preload *ngIf="loading"></app-preload>
                        <button type="submit" class="btn btn-primary btn-block bte"(click)="register()">Creer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    <app-footer style="bottom: 0%; position:fixed"></app-footer>