.card{
    margin: 7px;
}
.form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #ccc;
    border-radius:0;
    
}
.form-control:focus{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #ccc;
    border-radius:0;
    box-shadow: none;
}
.card-header{
    background: #324161;
    color: white;
}
.bt{
    width: 50%;
    float: right;
}
.bte{
    width: 20%;
    float: right;
}
.bad{
    background: #324;
}
.mb-4 img{
    width: 40%;
}
.bts{
    width: 100%;
    position: relative;
    left: 17rem;
    background: #324161;
    color: white;

}
a{
    color: white;
}
.w-100{
    margin-top: 5rem;
}


.select-wrapper {
    position: relative;
    width: 250px;
    // Dropdown icon
    &::after {
      color: black;
      content: '▾';
      margin-right: 200px;
      pointer-events: none;
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
    }
  }
  
  // Default state
  .select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    font-size: 18px;
    &:focus {
      color: black;
    }
    // Hack for IE 11+
    &::-ms-expand {
      display: none;
    }
  }