
    <div class="row w-100" >
        <div class="col-md-12 col-lg">
            <div class="card md-3">
                <div class="card-header">Creation de compte utilisateur</div>
                <div class="card-body">
                    <form >
                       
                        <div class="row">
                            <!-- Email input -->
                            <div class="outline mb-4 col-md-6">
                                <input type="email" id="email" class="form-control" placeholder="E-mail" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"/>
                               
                            </div>
                            <div class="form-outline mb-4 col-md-6">
                                <select   class="form-control " (change)="onchange($event)">
                                    <option value="">Choisissez Son poste</option>
                                    <option  *ngFor="let item of role" [value]="item">{{item}}</option> 
                                </select>
                            </div>

                           <div class="form-outline mb-4 col-md-6">
                               <label for="perm">niveau d'accès (single accès à un seul espace full accès à tout espace admin)</label>
                            <select id="perm"  class="form-control"(change)="getperm($event)">
                                <option  *ngFor="let item of perms" [value]="item">{{item}}</option> 
                            </select>
                           </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block bte"(click)="register()">Creer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
