
   <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <app-header [data]="menu"></app-header>
     <div class="app-main">
            <app-sidebar [menu]="menu"></app-sidebar>
            <div class="app-main__outer">
            <app-neworders *ngIf="default" [newOrders]="newOrders"></app-neworders>
            <app-producted-pending *ngIf="pend" [pendingOrders]="pendingOrders"></app-producted-pending>
            <app-producted-items *ngIf="ended" [prodOrders]="prodOrders"></app-producted-items> 
          <app-productor *ngIf="user"></app-productor>
          <app-footer style="position: fixed; bottom: 0; width: 77%;"></app-footer>
       </div>  
    
     </div>
 </div>