
.container{
    margin: 5em;
}



.steps-form {
    display: table;
    width: 100%;
    position: relative;
 }
.steps-form .steps-row {
    display: table-row; 
}
.steps-form .steps-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc; 
}
.steps-form .steps-row .steps-step {
    display: table-cell;
    width: 50%;
    text-align: center;
    position: relative;
 }
.steps-form .steps-row .steps-step p {
    margin-top: 0.5rem;
 }
.steps-form .steps-row .steps-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
 }
.steps-form .steps-row .steps-step .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin-top: 0;
 }
 .form-check{
     margin: 12px;
 }
 .nextBtn, .prevBtn{
     background: #324161;
     color: white;
 }
 .form-control:focus{
     border-top: none;
     border-left: none;
     border-right: none;
     box-shadow: none;
     border-bottom: solid 2px #324161;

 }
 #step1,#step2,#step3{
     background: green;
     color: white;
 }
 .form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;

}
.btn-succes{
    background: #324161;
    color: white;
}
