<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Dashboard </li>
            <li>
                <a role="button" (click)="bodymain()">
                    <i class="metismenu-icon pe-7s-display2"></i>
                    Dashboard
                </a>
            </li>
            <li class="app-sidebar__heading">Menu</li>
                <li>
                    <a role="button" (click)="neworder()">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Nouvelles commandes
                    </a>
                </li>
                <li>
                    <a role=" button" (click)="pendorder()" >
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Commandes en production
                    </a>
                </li>
                <li>
                    <a role=" button" (click)="order_packs()">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Commandes a l'amballages
                    </a>
                </li>
                <li>
                    <a role=" button" (click)="delivery_order()" >
                        <i class="metismenu-icon pe-7s-display2"></i>
                       Commandes en livraison
                    </a>
                </li>
                <li>
                    <a role=" button" (click)="order_delivered()" >
                        <i class="metismenu-icon pe-7s-display2"></i>
                       Commandes livrées
                    </a>
                </li>
               
                <li hidden>
                    <a role=" button" (click)="order_cancel()" >
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Commandes annulées
                    </a>
                </li>
                <li>
                    <a role=" button" (click)="profile()" >
                        <i class="metismenu-icon pe-7s-display2"></i>
                        profile
                    </a>
                </li>
            
            <li>
                <a role="button" (click)="logOut()">
                    <i class="metismenu-icon pe-7s-power">
                    </i>
                    Deconnexion
                </a>
            </li>
        </ul>
    </div>
</div>