
   <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <app-header></app-header>
 
     <div class="app-main">
            <app-sidebar></app-sidebar>
     </div>
 
 </div>