<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading"><a href="/production/manager">Dashboard</a> </li>
           
            <li class="app-sidebar__heading">Menu</li>
            <li>
                <a href="#">
                    <i class="metismenu-icon pe-7s-diamond"></i>
                     COMMANDES
                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>
                <ul>
                    <li>
                        <a role="button" (click)="shownewordres()">
                            <i class="metismenu-icon">
                            </i>
                             Nouvelles commandes
                           
                        </a>
                    </li>
                    <li>
                        <a role="button" (click)=" showpending()">
                            <i class="metismenu-icon">
                            </i>
                             Commandes en production
                           
                        </a>
                    </li>
                     <li>
                         <a role=" button" (click)="showendorders()">
                            <i class="metismenu-icon">
                            </i>
                            Commandes terminées
                        </a>
                    </li> 
                </ul>
            </li>
            <li>
                <a role=" button" (click)="showprofile()">
                    <i class="metismenu-icon pe-7s-display2"></i>
                    Profile
                </a>
            </li>
            
            <li>
                <a (click)="logout()" role="button">
                    <i class="metismenu-icon pe-7s-power">
                    </i>Deconnexion
                </a>
            </li>
        </ul>
    </div>
</div>