<div class="row w-100" >
    <div class="col-md-12 col-lg">
        <div class="card md-3">
            <div class="card-header">Informations personnelles</div>
            <div class="card-body">
                <form >
                    <div class="row">
                        <!-- Email input -->
                        <div class="form-outline mb-4 col-md-6">
                            <input type="text" id="name" class="form-control" name="username" [(ngModel)]="user.name" />
                            <label class="form-label" for="name">Nom</label>
                        </div>
                        <div class="form-outline mb-4 col-md-6">
                            <input type="password" id="lastname" class="form-control"  name="ga" [(ngModel)]="user.name"/>
                            <label class="form-label" for="lastname">Prénoms</label>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Email input -->
                        <div class="form-outline mb-4 col-md-6">
                            <input type="email" id="email" name="email" class="form-control" [(ngModel)]="user.email" />
                            <label class="form-label" for="email" >E-mail</label>
                        </div>
                        <div class="form-outline mb-4 col-md-6">
                            <input type="number" id="tel" class="form-control" />
                            <label class="form-label" for="tel">Téléphone</label>
                        </div>
                       
                    </div>
                    <button type="submit" class="btn btn-primary btn-block bte">Modifier</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="row w-100">
    <div class="col-md-6 col-lg">
        <div class="card md-3">
            <div class="card-header">Modifier Son mot de passe</div>
            <div class="card-body">
                <div class="form-outline mb-4 ">
                    <input type="email" name="useremail" id="Cemail" class="form-control" [(ngModel)]="user.email" />
                    <label class="form-label" for="Cemail">E-mail</label>
                </div>
                <div class="form-outline mb-4 ">
                    <input type="text" id="pass" class="form-control" />
                    <label class="form-label" for="pass">Ancien Mot de passe</label>
                </div>
                <div class="form-outline mb-4 ">
                    <input type="password" id="password" class="form-control" />
                    <label class="form-label" for="password">Ancien Mot de passe</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block bt">Modifier</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg">
        <div class="card md-3">
            <div class="card-header">Photo de profile</div>
            <div class="card-body bod">
                <div class="mb-4" style="text-align: center;">
                    <img class="rounded-circle z-depth-2"  src="assets/images/PROFILE.png"
                      data-holder-rendered="true" *ngIf="photo">
                      <img class="rounded-circle z-depth-2"  [src]="viewimage" data-holder-rendered="true" *ngIf="newphoto">
                  </div>
                  <label for="file">
                    <a type="file" role="button" class=" btn btn-block bts" style="color: white;">changer sa photo</a>
                  </label>
                 <input type="file" name="file" id="file" hidden (change)="Onchange($event)">
            </div>
           
        </div>
    </div>
</div>
