<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner" style="margin-top: 9px;">
        <ul class="vertical-nav-menu">
            <li>
                <a role="button" class="mm-active" href="/me">
                    <i class="metismenu-icon pe-7s-rocket"></i>
                    Dashboard 
                </a>
            </li>
            <li>
                <li>
                    <a href="#">
                        <i class="fal fa-product-hunt" aria-hidden="true" style="color: #ccc;"></i>
    
                                Gestion des produits
                    </a>
                    <ul>
                        <li>
                            <a role="button" (click)="update()">
                                <i class="fa fa-refresh" aria-hidden="true" style="color: #ccc;"></i>
                                mise à jour 
                            </a>
                        </li>
    
                        <li>
                            <a role="button"(click)="add()">
                                <i class="fa fa-plus" aria-hidden="true" style="color: #ccc;"></i>
                                produits
                            </a>
                        </li>
                      
                    </ul>
    
    
                </li>
            <li>
                <a role="button"  (click)="showorders()">
                    <i class="fal fa-store" style="color: #ccc;"></i>
                   Orders
                </a>
            </li>

         
           
            <li>
                <a href="#">
                    <i class="metismenu-icon pe-7s-users"></i>
                Utilisateurs
                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>
                <ul>
                    <li>
                        <a role="button" (click)="showcreateusers()">
                            <i class="fal fa-user-edit" style="color: #ccc;"></i>
                            Creer un Utilisateur
                        </a>
                    </li>
                    <li>
                        <a role="button" (click)="showlist_user()">
                            <i class="fal fa-users" style="color: #ccc;"></i>
                            Liste des Utlisateurs
                        </a>
                    </li>
                </ul>
            </li>



          
            <li>
                <a role="button" (click)="showprofile()">
                    <i class="metismenu-icon pe-7s-display2"></i>
                    Profile
                </a>
            </li>
            <!--Partner-->
            <li class="app-sidebar__heading">Partner</li>
            <li>
                <a href="#">
                    <i class="far fa-handshake" style="color: #ccc;"></i>
                    Partenaire
                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                </a>
                <ul>
                    <li>
                        <a role="button" (click)="showapprov_partner()">
                        <i class="metismenu-icon"></i>
                        Approuve Partner count
                        </a>
                    </li>
                    <li>
                        <a role="button" (click)="showpartner()">
                            <i class="metismenu-icon"></i>
                             Partner count approuve
                        </a>
                    </li>
                    <li>
                        <a role="button" (click)="showpartner_order()">
                            <i class="metismenu-icon"></i>
                            Commandes du partanire
                        </a>
                    </li>
                    <li>
                        <a role="button" (click)="showpartner_prod()">
                            <i class="metismenu-icon"></i>
                            Listes des produits
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a (click)="logout()">
                    <i class="metismenu-icon pe-7s-power">
                    </i>Deconnexion
                </a>
            </li>
        </ul>
    </div>
</div>