<div class="app-wrapper-footer">
    <div class="app-footer">
        <div class="app-footer__inner">
            <div class="app-footer-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="https://aladin.ci" class="nav-link">
                            <i class="fal fa-globe"></i>
                            aladin
                        </a>

                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="fab fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                </ul>
            </div>
            <div class="app-footer-right">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="fab fa-twitter-square"></i>
                            Twitter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0);" class="nav-link">
                            <i class="fab fa-linkedin"></i>
                             Linkedin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>  