<div class="col" style="overflow-y: scroll;" *ngIf="cloth">
  <div class="form-group md-form mt-3">
    <label for="type_of_p">Type impression</label>
  
   <ng-multiselect-dropdown
   [placeholder]="'Choix de type impression'"
   [settings]="dropdownSettings"
   [data]="cloth_printing"
   [(ngModel)]="cloth_options_p"
   (onSelect)="onItemSelect($event)"
   (onSelectAll)="onSelectAll($event)"
  >
  </ng-multiselect-dropdown>
  
  
  </div> 
    
  <div class="form-group md-form mt-3">
    <label for="type_of_size">Taille</label>
  
    <ng-multiselect-dropdown
    [placeholder]="'Choix de taille'"
    [settings]="dropdownSettings"
    [data]="cloth_size"
    [(ngModel)]="cloth_options_size"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
  >
  </ng-multiselect-dropdown>
  
  </div>
  
  
  
</div>

<div class="col" style="overflow-y: scroll;" *ngIf="pack">
  <div class="form-group md-form mt-3">
    <label for="type_of_p">Dimensions</label>
  
   <ng-multiselect-dropdown
    [placeholder]="'Choix de dimension'"
    [settings]="dropdownSettings"
    [data]="pack_size"
    [(ngModel)]="pack_options_size"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
  >
    </ng-multiselect-dropdown>
  
  
  </div> 

  <div class="form-group md-form mt-3">
    <label for="type_of_p">Nombre De Couleurs</label>
  
   <ng-multiselect-dropdown
    [placeholder]="'Choix de dimension'"
    [settings]="dropdownSettings"
    [data]="pack_color"
    [(ngModel)]="pack_options_color"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
  >
    </ng-multiselect-dropdown>
  
  </div> 
  
</div>





<div class="col" style="overflow-y: scroll;" *ngIf="gadget">
  <div *ngIf="gadg_tasse">
    <div class="form-group md-form mt-3">
      <label for="type_of_p">Type de gadget</label>
  
    <ng-multiselect-dropdown
    [placeholder]="'Choix de dimension'"
    [settings]="dropdownSettings"
    [data]="tasse_type"
    [(ngModel)]="tasse_options"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    >
      </ng-multiselect-dropdown>
  
    </div> 
    
  </div>

  <div *ngIf="gadg_stylo">
    <div class="form-group md-form mt-3">
      <label for="type_of_p">Type de Stylo</label>
  
    <ng-multiselect-dropdown
    [placeholder]="'Choix de dimension'"
    [settings]="dropdownSettings"
    [data]="stylo_type"
    [(ngModel)]="stylo_options"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    >
      </ng-multiselect-dropdown>
  
    </div> 
    <div class="form-group md-form mt-3">
      <label for="type_of_p">Type d'Impression</label>
  
    <ng-multiselect-dropdown
    [placeholder]="'Choix de dimension'"
    [settings]="dropdownSettings"
    [data]="stylo_impr_type"
    [(ngModel)]="stylo_impr_options"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    >
      </ng-multiselect-dropdown>
  
    </div> 
    
  </div>

  <!--<div *ngIf="gadg_porte_cle">
    <div class="form-group md-form mt-3">
      <label for="type_of_p">Type de gadget</label>
  
    <ng-multiselect-dropdown
    [placeholder]="'Choix de dimension'"
    [settings]="dropdownSettings"
    [data]="gadget_type"
    [(ngModel)]="gadget_options_type"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    >
      </ng-multiselect-dropdown>
  
    </div> 
    
  </div>-->
</div>


<div class="col" style="overflow-y: scroll;" *ngIf="display">
  <div *ngIf="disp_bache">
    <div class="form-group md-form mt-3">
      <label for="type_of_impr">Type d'Impressions</label>
  
    <ng-multiselect-dropdown
      [placeholder]="'Choix de dimension'"
      [settings]="dropdownSettings"
      [data]="bache_dim"
      [(ngModel)]="bache_dim_options"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
    >
      </ng-multiselect-dropdown>
    
    </div>    

  </div>

  <div *ngIf="disp_kakemono">
    <div class="form-group md-form mt-3">
      <label for="type_of_support">Type de Support</label>
  
    <ng-multiselect-dropdown
      [placeholder]="'Choix du type de support'"
      [settings]="dropdownSettings"
      [data]="kakemono_support"
      [(ngModel)]="kakemono_sup_options"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
    >
      </ng-multiselect-dropdown>
    
    </div>    

  </div>

  <div *ngIf="disp_vinyle">
    <div class="form-group md-form mt-3">
      <label for="type_of_vinyle">Type de Vinyle</label>
  
    <ng-multiselect-dropdown
      [placeholder]="'Choix du type de vinyle'"
      [settings]="dropdownSettings"
      [data]="vinyle_type"
      [(ngModel)]="vinyle_type_options"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
    >
      </ng-multiselect-dropdown>
    
    </div>    

  </div>

  <div *ngIf="disp_micro_perf">
    <div class="form-group md-form mt-3">
      <label for="type_of_impr">Type d'impression</label>
  
    <ng-multiselect-dropdown
      [placeholder]="'Choix du type d\'impression'"
      [settings]="dropdownSettings"
      [data]="micro_perf"
      [(ngModel)]="micro_perf_options"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
    >
      </ng-multiselect-dropdown>
    
    </div>    

  </div>
  
  
</div>

<div class="col" style="overflow-y: scroll;" *ngIf="print">
  <div *ngIf="print_carnet">
    <div class="form-group md-form mt-3">
      <label for="type_of_p">Le Format</label>
  
      <ng-multiselect-dropdown
      [placeholder]="'Choix du format'"
      [settings]="dropdownSettings"
      [data]="carnet_format_type"
      [(ngModel)]="carnet_format_options"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
    >
      </ng-multiselect-dropdown>
  
  
    </div> 
  </div> 
  
</div>